.container-cruzamentos {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    margin: 20px;
}
.visao-geral-cruz{
width: 100%;
}
.detalhes-cruzamentos {
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
}
.destaques-sep{
    height: 10%;
}
.envolvidos-sep{
    height: 100%;
    width: 100%;

}
.desfechos-sep{
    height: 100%;
    width: 100%;

}

.destaques-red{
    height: 10%;

}
.envolvidos-red{
    height: 100%;
    width: 100%;

}
.desfechos-red{
    height: 100%;
    width: 100%;

}
.chart{
    height: 10px;
}
.dados_cruzamento_campo_cruzamento {
    display: flex;
    flex-direction:row;
    width: 70%;
    height: 40%;
    padding-top: 2%;
    margin-left: 5%;
  }
  
.item_cruzamento {
    margin-bottom: 10px;    
   font-size: 13px
}

.chave {
    font-weight: bold;
    margin-right: 5px;
}
.frequencia{
    margin-left: 5%;
    font-size: 18px;
    font-weight: 500;
}

.campo-futebol-cruzamento img {
    width: 100%;
    max-width: none;
    height: auto;
}

.campo-futebol-cruzamento {
    height: auto;
    padding-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.detalhes-cruzamentos {
    display: flex;
    flex-direction: row;
    gap: 20%;
    align-items: center;
    margin-left: 5%;
}

.lista-lances-cruz {
    overflow-y: scroll;
    height: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 100%;
    margin-top: 0px;
}

.botao-cruzamento-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.left-content {
    display: flex;
    align-items: center;
    gap: 5%;
    width: 30%;
  }

.video-container-cruzamento{
    height: 20%;
}
    
.cruzamento-info-string {
    margin-top: 25px;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: -35px;
}

.textos-informacao-h3 {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 8px;
}

.titulo-h2-cruz {
    margin-left: 5%;
}

.texto-font {
    font-weight: bold;
    font-size: 18px;
}

.detalhes-cruzamento-selecionado {
    margin-top: 5%;
    display: flex;
    height: 20%;
    flex-direction: row;
    align-items: center;
}

.cruzamento-atacando {
    height: 100%;
    width: 25%;
}

.cruzamento-defendendo {
    height: 100%;
    width: 30%;
}

.list {
    list-style: none;
    padding-left: 0px;
}

.list li {
    padding-bottom: 10px;
    font-size: 18px;
}

select {
    width: 10%;
    margin-bottom: 1%;
    margin-left: 1%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }