.container-cruzamentos {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    margin: 20px;
}

.detalhes-cruzamentos {
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
}
.destaques-sep{
    height: 150px;

}
.envolvidos-sep{
    height: 100%;
    width: 100%;

}
.desfechos-sep{
    height: 100%;
    width: 100%;

}

.destaques-red{
    height: 150px;

}
.envolvidos-red{
    height: 100%;
    width: 100%;

}
.desfechos-red{
    height: 100%;
    width: 100%;

}
.chart{
    height: 10px;
}
.dados_cruzamento_campo {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
  }
  
.item {
    margin-bottom: 10px;    
}

.chave {
    font-weight: bold;
    margin-right: 5px;
}
.frequencia{
    margin-left: 5%;
}

.campo-futebol-cruzamento img {
    width: 100%;
    max-width: none;
    height: auto;
}

.campo-futebol-cruzamento {
    height: auto;
    padding-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.detalhes-cruzamentos {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lista-lances-cruz {
    overflow-y: scroll;
    height: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 100%;
    margin-top: 40px;
}

.botao-cruzamento-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.left-content {
    display: flex;
    align-items: center;
    gap: 5%;
    width: 30%;
  }

.cruzamento-info-string {
    margin-top: 25px;
    font-weight: bold;
    margin-bottom: -35px;
}