/* Header.css */

.header {
    background-color: #20232a; 
    height: 10vh; 
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }
  
  .header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .header li {
    padding: 0 100px; /* Espaçamento entre os itens da lista */
  }
  
  .header a {
    color: white; /* Cor inicial do texto */
    font-weight: bold; /* Texto em negrito */
    text-decoration: none; /* Remove o sublinhado */
    transition: color 0.9s ease; /* Transição suave da cor */
    letter-spacing: none; /* Espaçamento normal, ajuste como preferir */
    display: inline-block; /* Necessário para aplicar a transição */
    background-image: linear-gradient(to right, white, white); /* Fundo gradiente inicial invisível */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Torna o texto transparente para que o gradiente seja visível */
    font-size: 22px;
    font-weight: 400; /* Aplica um peso mais leve */
    font-family: 'Roboto', sans-serif; /* Aplica a fonte Roboto */

  }

