/* arquivo css que possui o estilo da página Home */ 
.welcome-section {
    text-align: center;
    margin-top: 50px; /* Ajuste conforme necessário */
  }
  
  .pink-text {
    color: rgb(243, 21, 187);
  }
  
  .blue-text {
    color: blue;
  }

  .custom-image {
    width: 30%; /* ou outra unidade ou valor desejado */
    height: auto; /* Isso mantém a proporção da imagem */
    display: block; /* Evita espaços extras sob a imagem */
    margin: 0 auto;
    
  }
  

  h4 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }


  p {
    font-size: 14px;
    
  }









