

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas de tamanho igual */
    gap: 20px; /* Espaçamento entre as colunas */
    margin: 20px;
}

.visao-geral, .lances {
    display: grid;
    gap: 10px;
}

.destaques, .envolvidos, .desfechos, .lista-lances {
    padding: 10px; /* Espaçamento interno */
    height: 100px; /* Altura exemplo, ajuste conforme necessário */
    border: 2px solid #ccc; /* Borda para o container */
}

/* Simula um campo de futebol */
.campo-futebol {
  width: 100%; /* Adjust the width as necessary */
  height: auto; /* This can be changed based on your layout needs */
  display: flex; /* Using flex to center the image */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  overflow: hidden; /* Ensures no part of the image spills out of the container */
}

.campo-futebol img {
  max-width: 100%; /* Ensures the image is not wider than the container */
  height: auto; /* Keeps the image's aspect ratio */
}

/* Container para o vídeo */
.video-container {
    border: 2px solid #ccc; /* Borda para o vídeo */
    padding: 10px; /* Espaçamento interno */
    height: 200px; /* Altura exemplo, ajuste conforme necessário */
}

video {
    width: 100%; /* O vídeo preenche o container */
    height: 100%; /* Ajusta a altura para preencher o container */
}
