.container {
    display: flex;
    flex-direction: row;
    height:150%;
}
.rupturas-title{
    margin-left: 5%;
}

.visao-geral_ruptura, .lances {
    gap: 10px;
}

.campo-futebol-ruptura, .destaques, .envolvidos, .desfechos {
    padding: 10px; 
    height: 100px; 
}

.campo-futebol-ruptura {
    width: 80%;
    height: auto;
    padding-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .campo-futebol-ruptura img {
    width: 100%; 
    max-width: none; 
    height: auto; 
  }
  
  .visao-geral2-rupturas{
     width: 55%;
  }

.video-container-rupturas {
    padding: 10px; 
    height: 30%;
}

video {
    width: 100%;
    height: 100%;
}

.button-site {
    display: block;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    background-color: white;
    color: #000000;
    text-align: left;

}
.lista-lances-rup {
    overflow-y: scroll;
    height: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 100%;
}

.button-selected {
    background-color: #000000;
    color: #ffffff;
}
.selecionar-time{
    width: 80%;
    margin-left: 5%;
}

.destaques-desfechos-rupturas {
    display: flex;
    width: 85%;
    flex-direction: row;
    margin-left: 5%;
}
.destaques-rupturas{
    width: 60%;
}
.desfechos-rupturas{
    width: 60%;
   padding-left: 10%;
}
.grafico-rupturas{
    width: 60%;
    margin-top: 30px;
}
.permanencia-rupturas{
    margin-left: 5%;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}
.grafico-imagem-ruptura{
    margin-top: -14%;
}

.textos-informacao-h3-rup {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
}

.ruptura-info-string {
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: -10px;
}

.dados-cruzamento-campo {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-bottom: -10px;
}