.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas de tamanho igual */
    gap: 20px; /* Espaçamento entre as colunas */
    margin: 20px;
}

.visao-geral, .lances {
    display: grid;
    gap: 10px;
}

.campo-futebol, .destaques, .envolvidos, .desfechos {
    padding: 10px; /* Espaçamento interno */
    height: 100px; /* Altura exemplo, ajuste conforme necessário */
}

/* Simula um campo de futebol */
.campo-futebol {
    /* You can set a specific height or leave it as auto to maintain aspect ratio */
    height: auto;
    padding-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .campo-futebol img {
    width: 100%; /* This will make the image fill the container */
    max-width: none; /* Remove the max-width constraint */
    height: auto; /* Maintain aspect ratio */
  }
  

/* Container para o vídeo */
.video-container {
    border: 2px solid #ccc; /* Borda para o vídeo */
    padding: 10px; /* Espaçamento interno */
    height: 200px; /* Altura exemplo, ajuste conforme necessário */
}

video {
    width: 100%; /* O vídeo preenche o container */
    height: 100%; /* Ajusta a altura para preencher o container */
}

.button-site {
    display: block;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    background-color: white;
    color: #000000;
    text-align: left;

}
.lista-lances {
    overflow-y: scroll;
    height: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 100%;
    margin-top: 40px;
}

.button-selected {
    background-color: #000000;
    color: #ffffff;
}
.selecionar-time{
    background-color: #009FE3;
    padding: 1rem;
}