h1 {
    color: #000000;
  }
  
img {
    width: 50%;
    height: auto;
    margin-left: -5%;
    padding-right: 5%;
  }
  
.update-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 92vh;
    }
    
.update-form {
    width: 40vh;
    padding: 20px;
    border-radius:7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin-top: 40px;
    }

#update-text {
    text-align: center;
}

.update-error {
    margin-top: 8px;
}